# 入力監視・操作ログ
pynput

# 数値計算・データ処理
numpy
pandas

# M5Stackとの通信
pyserial

# AI用（スケーラーの読み込み等で必要になる可能性あり）
joblib
scikit-learn

# 【Windowsの人だけ】ウィンドウ情報取得
pygetwindow; sys_platform == 'win32'

# 【Macの人だけ】ウィンドウ情報取得
pyobjc-framework-Cocoa; sys_platform == 'darwin'